.aplicacion {
    background-color: #f4f7f9;
}

.aplicacion .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.texto-suave {
    color: var(--texto-suave);
}

.barra-herramientas__entrada[type="date"] {
    color: var(--azul-claro);
    text-transform: uppercase; 
    font-size: 0.85rem;
    border: 1px solid var(--azul-principal);
    padding: 6px 10px;
    height: 38px;
    cursor: pointer;
    width: 140px;
}


.barra-herramientas__entrada:valid {
    color: var(--texto-suave);
}